@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

:root {
  --primary: #040a0f;
  --secondary: #6c757d;
  --success: #83cf95;
  --info: #3b0b54;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #d20000;
  --dark: #343a40;
}