@import "/bootstrap-4.3.1-dist/css/bootstrap.min.css";

:root {
  padding-top: 72px;
  padding-bottom: 20px;
  --primary: #040a0f;
  --secondary: #c5c5c5;
  --success: #83cf95;
  --info: #700aa8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #d20000;
  --dark: #343a40;
}